.table {
  padding: 1px;
}
.table table {
  border-collapse: collapse;
}
.table table th {
  border: 2px solid black;
  padding: 5px;
  margin: auto;
}
.table table td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}